<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="toroshu.tomato">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".deprecated.About"
            android:label="@string/title_activity_about"
            android:theme="@style/BlackishTheme" />
        <activity
            android:name=".deprecated.Credits"
            android:label="@string/title_activity_credits"
            android:theme="@style/BlackishTheme" />
        <activity
            android:name=".deprecated.RecoverPassword"
            android:label="@string/title_activity_recover_password"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".deprecated.Register"
            android:label="Just one more step" />
        <activity
            android:name=".deprecated.Status"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".ui.TermsAndConditions"
            android:label="@string/title_activity_terms_and_conditions"
            android:theme="@style/DialogTheme" />

        <receiver android:name=".ninja.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ninja.SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ninja.TrackLocation"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".deprecated.FeatureX" />
        <activity android:name=".ui.Login" />
        <activity android:name=".ui.Splash" />
        <activity android:name=".utils.BaseActivity" />
        <activity android:name=".ui.Onboard"></activity>
    </application>

</manifest>